{% if cart.item_count > 0 %}

<form action="/cart" method="post">
  
  <table>
    
    <thead>
      <tr>
        <th><!-- Item --></th>
        <th>&nbsp;</th>
        <th><!-- Price --></th>
        <th><!-- Quantity --></th>
        <th><!-- Total --></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    
    <tbody>

    {% for item in cart.items %}    
    
      {% comment %}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {% endcomment %}
      
      {% if forloop.first %}
        {% assign collection_url = item.product.collections.first.url %}
        {% if collection_url == '/collections/frontpage' or collection_url == '' %}{% assign collection_url = '/collections/all' %}{% endif %}
      {% endif %}

      <tr class="{% for collection in item.product.collections %} {{collection.handle}} {% endfor %}">
        <td>
          <a href="{{ item.product.url | within: collections.all }}">  
            <img src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" />
          </a>
        </td>
        <td>
          {% comment %}
          Line Item Properties
          {% endcomment %}
          {% if item.properties.size > 0 %}
          <p>
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
                <br />
              {% endunless %}
            {% endfor %}
          </p>
          {% endif %}
        </td>
        <td class="product-price">{{ item.price | money }}</td>
        <td>
          <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
        </td>
        <td>&nbsp;</td>
        <td>
          <a class="icon close" href="/cart/change?line={{ forloop.index }}&quantity=0">
            <span></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    
    </tbody>
    
  </table>
  
  {% comment %}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {% endcomment %}
  
  <div>
    <h3>Subtotal: <strong>{{ cart.total_price | money }}</strong></h3>
    <input type="submit" name="update" value="Update cart" />
    <span class="or">&nbsp;</span>
    <input type="submit" name="checkout" value="Check out" />    
    {% comment %}Paypal and Google checkout buttons{% endcomment %}
    {% if additional_checkout_buttons %}
    <p class="additional-checkout-buttons">
      {{ content_for_additional_checkout_buttons }}
    </p>
    {% endif %}    
  </div>
  
</form>

{% else %}

<div>
  <h2>Your cart is empty.</h2>
  <h3><a href="/">Click here to continue shopping.</a></h3>
</div>

{% endif %}
